{{!yield}}
<div class="header clearer col-xs-12">
    <span class="side-header">
        <div class="link">
            <a class="menuToggle icon"><i class="fa fa-bars" {{action "onToggleBtnClick"}}></i></a>
        </div>
    </span>
    <span class="logo"><img src="assets/images/logo.png"></span>
    <span class="account">
        <a href="/"><i class="fa fa-power-off"></i></a>
    </span>
</div>