//@import "ember-side-menu";
.page-content-floater{
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.page-content{
    background-color: #000000;



    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
}
.page-content-wrapper{
    //margin-left: 200px;
    //margin-right: 200px;
    width: 100%;
    margin: 0 auto;
}
.panel-heading{
    background-color: #000000;
}
.form-control{
    background: transparent !important;
    border-bottom: 2px solid #a4a4a4;
    border-right: none;
    border-left: none;
    border-top: none;
    color: #a4a4a4 !important;
    margin-bottom: 30px;
    position: relative;
}
.form-control:focus{
  border-color: transparent;
}
.login {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-login{
    margin-top: 5px;
    background-color: #fcd116;
    //width: 370px !important ;
    //height: 40px !important ;
    font-size: 15px !important ;
    border: none ;
    color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.btn-login:hover{
     background-color: #fcd116;
     border: none;
}
.btn-login::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fcd116;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.btn-login:hover:before {
  opacity: 0;
}
.login-logo{
    padding: 25px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    //width: 120px;
    //height: 120px;
    //border-radius: 50%;
    //background-color: #fff;
    margin: 0 auto;
     //background-image: url(assets\img\logo_2.png);
}
.middle{
    margin-left: 92px;
}
.panel{
    width: 100%;
}
.label-checkbox {
  //font-family: Poppins-Regular;
  font-size: 13px;
  color: #a4a4a4;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox:checked + .label-checkbox::before {
  color: #a4a4a4;
}
.input-checkbox{
  display: none;
}
.checkbox{
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.text-center{
  text-align: center;
  padding-top: 30px;
}
.forgot{
  color: #a4a4a4;
  text-decoration: none;
  a{
    color: #a4a4a4;
    text-decoration: none;
  }
}
.sign-up{
  margin-top-top: 10px;
  color: #a4a4a4;
  text-align: center;
  a{
    text-decoration: none;
    color: #a4a4a4;
  }
}





