<div>
    <div>
        <div class="main-content">
          {{#widget-header}}{{/widget-header}}
            <div class="page-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12 sidebar-closed">
              {{#side-bar}}{{/side-bar}}
                <div class="body hide-content">
                    <div class="layout-container full-width">
                      <div class="layout-col bold about-us-header h-middle full-width">About us</div>
                    </div>
                    <div class="layout-container logo">
                        <img src="assets/images/logo_2_dark.png">
                    </div>
                    <div class="layout-container version full-width">
                        <div class="layout-col h-middle full-width">Version DYSP_MOB_1.0.0</div>
                    </div>
                    <div class="layout-container full-height full-width">
                        <div class="layout-container contact-info">
                            <div class="layout-container">
                                <div class="layout-container">Tell : </div>
                                <div class="layout-col"><a href="tel: +94765244065">+94765244065</a></div>
                                <div class="layout-col"><a href="tel: +94765244065">+94771861764</a></div>
                                <div class="layout-col"><a href="tel: +94765244065">+94778722686</a></div>
                            </div>
                        <div class="layout-container email-us">Email Us : </div>
                        <div class="layout-container emails">
                            <div class="layout-col"><a href="mailto: pamuditha.2015583@iit.ac.lk">pamuditha.2015583@iit.ac.lk</a></div>
                        </div>
                        <div class="layout-container emails">
                            <div class="layout-col"><a href="mailto: subodha.2015511@iit.ac.lk">subodha.2015511@iit.ac.lk</a></div>
                        </div>
                        <div class="layout-container emails">
                            <div class="layout-col"><a href="mailto: yasadara.2015565@iit.ac.lk">yasadara.2015565@iit.ac.lk</a></div>
                        </div>
                        </div>

                    </div>
                    <div class="layout-container full-width copyright_one">
                        <div>Copyright 2017-2018. All rights reserved</div>
                    </div>
                    <div class="layout-container full-width copyright_two">
                        This Program is protected by Copyright Law. Unauthorized use, reproduction, or distribution of this program or any portion of it is an offence.
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>