<div>
    <div>
        <div class="main-content">
          {{#widget-header}}{{/widget-header}}
          <div class="page-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12 sidebar-closed">
            {{#side-bar}}{{/side-bar}}
                <div class="body hide-content">
                    <div class="layout-container about-us-header pad-l-tb">
                        <div class="layout-col"><i class="fa fa-question-circle-o"></i></div>
                        <div class="layout-col pad-l-lr">Help</div>
                    </div>
                    <div class="layout-container widget-hline"></div>

                  <div class="layout-container y-scroll">
                    <div class="layout-container pad-m-tb about-us-header bold">About DYSP App</div>
                    <div class="layout-container pad-m-tb">
                        <div class="layout-col">
                            <p>DYSP application is an power saving unit for your <br> home system.<br>
                            It helps you to manage and control your <br> electrical devices through your mobile phone.<br>
                            </p>
                        </div>
                    </div>
                    <div class="layout-container widget-hline"></div>
                    <div class="layout-container pad-m-tb about-us-header bold">FAQ</div>
                    <div class="layout-container pad-s-tb header-font bold">
                        <div class="layout-col"><i class="fa fa-question-circle-o"></i></div>
                        <div class="layout-col pad-m-lr">How to manage Devices</div>
                    </div>
                    <div class="layout-container">
                        <p>In <b>Manage Devices page</b> you can turn ON or OFF your electrical devices.<br>
                        Also you can get an idea about the unit limit and <br>
                        number of units you consumed.
                        </p>
                    </div>
                    <div class="layout-container pad-s-tb header-font bold">
                        <div class="layout-col"><i class="fa fa-question-circle-o"></i></div>
                        <div class="layout-col pad-m-lr">How to Add Devices</div>
                    </div>
                    <div class="layout-container">
                        <p>In <b>Add Devices page</b> you can add new devices<br>
                            to the system.<br>
                        </p>
                    </div>
                    <div class="layout-container pad-s-tb header-font bold">
                        <div class="layout-col"><i class="fa fa-question-circle-o"></i></div>
                        <div class="layout-col pad-m-lr">How to Manage your Tasks</div>
                    </div>
                    <div class="layout-container">
                    <p>In <b>Manage Tasks page</b> you can manage your tasks need<br>
                        to be performed.<br>
                        You can add devices to the automated mode <br>
                        where you do not need to On / OFF them manually. <br>
                        Or , you can ON / OFF the devices as per your choice. <br>
                        You can calculate your electricity bill and you can <br>
                        know the units you consumed for the month.
                    </p>
                </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>