<div>
    <div>
        <div class="main-content">
          {{#widget-header}}{{/widget-header}}
            <div class="page-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12 sidebar-closed">
              {{#side-bar}}{{/side-bar}}
                <div class="body hide-content">
                    <div>
                        <h4>Notification Method</h4>
                        <label class="NM">Facebook
                            <input type="checkbox" checked="checked">
                            <span class="checkMark"></span>
                        </label>

                        <label class="NM">Message
                            <input type="checkbox">
                            <span class="checkMark"></span>
                        </label>

                        <label class="NM">Mail
                            <input type="checkbox">
                            <span class="checkMark"></span>
                        </label>
                    </div>
                    <div>
                        <h4>Notification Need For</h4>
                        <label class="NN">Monthly Bill
                            <input type="checkbox" checked="">
                            <span class="checkMark"></span>
                        </label>

                        <label class="NN">Reaching Bill Limit
                            <input type="checkbox">
                            <span class="checkMark"></span>
                        </label>

                        <label class="NN">Manage Devices
                            <input type="checkbox">
                            <span class="checkMark"></span>
                        </label>

                        <label class="NN">Add New
                            <input type="checkbox">
                            <span class="checkMark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>